<!DOCTYPE html>
<html>
  <head>
    <title>RubystarsWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div>
      <% flash.each do |key, value| %>
        <div>
          <a href="#" data-dismiss="alert">x</a>
            <%= value %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
